extends ./layout/index

block slider
    .slider
        h1 Veracruz     
        em Comidad y Confort

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p.text-justify  Nosotros somos una agencia de viajes liderada por el Lic. En Turismo Álvaro Martínez. Nuestra empresa nace 3 años atrás como una búsqueda de emprendimiento, buscando ofrecer las mejores experiencias en turismo. 

                p.text.justify Cada uno de nuestros viajes, son pensados en búsqueda de la satisfacción total de nuestros clientes, pues consideramos que uno de los tesoros mas importantes de la vida son las experiencias que tenemos a lo largo de ella. Es por eso que nuestro objetivo es ofrecer una experiencia inigualable en cada viaje.

             
            .col-md-6
                img(src="img/inicio_nosotros.jpg", alt= "imagen nosotros" class="img-fluid")
        include ./layout/vista_viajes

    .descuento   
        .container
            .row
                .col-md-6
                    .contenido
                        h3.titulo LOS MEJORES DESTINOS
                        p.titulo FECHAS DISPONIBLES
                        p.precio  LOS MEJORES PRECIOS 
    .container
        include ./layout/vista_testimoniales
            

    