<!DOCTYPE html>
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')    
      title Document
      link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
      link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans:wght@400;700&family=Staatliches&display=swap', rel='stylesheet')
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
      link(rel="stylesheet", href="/css/styleLogin.css")
      script(type='text/javascript' src='/js/loginstyles.js')

      
    body 
      .page
        .container
          .left
            .login Area Para Administrador
            .eula.text-justify
              | Si no eres el Admininistrador de la pagina, 
              a(href='/') click
              |  aqui para regresar a nuestra pagina principal  Pagina Principal :) .

          .right
            svg(viewbox='0 0 320 300')
              defs
                lineargradient#linearGradient(inkscape:collect='always' x1='13' y1='193.49992' x2='307' y2='193.49992' gradientunits='userSpaceOnUse')
                  stop#stop876(style='stop-color:#ff00ff;' offset='0')
                  stop#stop878(style='stop-color:#ff0000;' offset='1')
              path(d='m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143')
            form.form(action="/login", method='POST')
              label(for='email') Usuario
              input#username(type='text', name="username")
              label(for='password') Password
              input#password(type='password', name="password")
              input#submit(type='submit')
              p.mt-3.text-center #{error}
          .right2
            svg(viewbox='0 0 320 300')
              defs
                lineargradient#linearGradient(inkscape:collect='always' x1='13' y1='193.49992' x2='307' y2='193.49992' gradientunits='userSpaceOnUse')
                  stop#stop876(style='stop-color:#ff00ff;' offset='0')
                  stop#stop878(style='stop-color:#ff0000;' offset='1')
        
            form.form(action="/restablecer", method='POST')
              p.pmedio Restablecer Contraseña
              input#submit2(type='submit', value='restablecer')
