extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5.mt-5

                img.img-fluid.img-thumbnail(src="img/nosotros.jpg", alt="Imagen Nosotros")
            .col-md-7
                h1.text-center #{pagina}
                p.text-justify  Nosotros somos una agencia de viajes liderada por el Lic. En Turismo Álvaro Martínez. Nuestra empresa nace 3 años atrás como una búsqueda de emprendimiento, buscando ofrecer las mejores experiencias en turismo. 

                p.text.justify Cada uno de nuestros viajes, son pensados en búsqueda de la satisfacción total de nuestros clientes, pues consideramos que uno de los tesoros mas importantes de la vida son las experiencias que tenemos a lo largo de ella. Es por eso que nuestro objetivo es ofrecer una experiencia inigualable en cada viaje.

                p.text-justify Nos encargamos de elegir cautelosamente los mejores sitios para visitar, ofreciendo un amplio catalogo de destinos, buscando las mejores atracciones y actividades de cada destino. Siempre ofreciendo los mejores precios y las mejores experiencias.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 La mayor Seguridad
                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos de Mexico
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    






