extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-12.mt-5
                h1.text-center #{pagina}
            .col-md-5.mt-5
                a(href=`reservacion`,class="btn btn-success btn-block") Hacer reservacion
            .col-md-7.mt-5
                a(href=`cancelar`,class="btn btn-success btn-block") Cancelar reservacion
                






