extends ./layout/indexAdmin

block contenido
  
  block contenido
    main.container.mt-5        
        h1.text-center.mt-5 #{pagina}          
        include ./layout/vista_testimonialAdmin
        .row
            .col-md-12
                
