header
    .navegacion
        .container
            .row.justify-content-center.justify-content-md-between.align-items-center.py-4
                .col-md-4.col-
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.h1Adm.nav-link(href="/admin") ADMINISTRACION
                .col-md-8
                    nav.mt-5.mt-md-0.nav.justify-content-center.justify-content-md-end
                        a.nav-link(href="/reservacionesAdmin") Reservaciones
                        a.nav-link(href="/viajesAdmin") Viajes
                        a.nav-link(href="/testimonialesAdmin") Testimoniales
                        
